# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = teddyrendahl
	email = trendahl@slac.stanford.edu
[core]
    editor = vim

[alias]
    loll = log --graph --decorate --pretty=oneline --abbrev-commit

[diff]
  tool = icdiff

[difftool]
  prompt = false

[difftool "icdiff"]
  cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE
